/*
Styles used for index.html specifically
*/


/*
Intro option 1 styles
*/



.intro-team-photo-1{
    background-image:url("../assets/img/team_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/*

Intro Option 2 Styles

*/



.navbar-intro-2{
    
    width: 100%;
    
}

.navbar-intro-2 ul {
    border:1px dotted black;
    padding: 0;
    display:table;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 7%;
    background-color: #f9f9f9;
    border-color: #efefef;
}

.navbar-intro-2 li {
    display:table-cell;
    width:25%;
    vertical-align: middle;
    text-align: center;
}





















/*
Grayscale efforts
*/



#gray-ts-intro-1{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition : -webkit-filter 3500ms linear;
    -moz-transition : -moz-filter 3500ms linear;
    transition : filter 3500ms linear;
}

#gray-ts-intro-1.gray-ts-intro-1 {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}