.lr-split-l{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.lr-split-r{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.lr-content-item{
    background-image: url('../assets/img/thicco.jpg');
    height: 40%;
}


/* -------------------------- */
.left-preview{
    height: 100%;
    width: 0%;
    display: none;
}
.right-preview{
    height:100%;
    padding:0px;
    margin: 0px;
}
.item-preview{   
    width:50%;
    height: 40%;
    padding: 0px;
    margin: 0px;
    float: left;
}
.card-title{
 font-size:30px;
    color: white;
}
.title{
        color: rgb(153, 255, 51);
    font-family: 'Fascinate', cursive;
    font-size: 30px;
}
.card-title span{
    padding: 20px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
}
.card-subtext{
    font-size:15px;
}
.card-maintext{
    top:30%;
    font-size: 30px;
}
.logo-subtitle-card{
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
    padding: 15px;
}
.logo{
    padding: 20px;
}
.card-bar{
    width:100%;
    height:30%;
    overflow: hidden;
    overflow: hidden;

}
i.fa {
    color: rgb(153, 255, 51);
    z-index: 100;
    top:50%;
}

.center-box{
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    height: 30%;
}

.fa-contain{
    
}
.not-gray{
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%); 
    position:absolute;
    height: 100%;
    
}
.learn-more{
    vertical-align: middle;
    text-align: center;
    padding-top:30px; 
    font-size: 25px;
}
.learn-more span{
    border-style: solid; 
    border-color:black; 
    color: black;
    border-width:2px; 
    border-radius:5px;
    padding: 10px;
}
#hw{
    font-family: 'Dancing Script', cursive;

}
.bio span{
    text-align: center;
    vertical-align: middle;
}
.bio{
    width: 100%;
}

.learn-more span:hover { 
    background-color: rgb(153, 255, 51);
    border-color: dimgray;
    color: white;
}
.fa-contain{
    
}
.gray{
        -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size:auto;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
        padding-top: 50px;
}
.blur{
      -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
        z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.gray1{
            background-image: url("../assets/img/q1.jpg");
}

.card-left{
         background-image: url("../assets/img/q1.jpg");


}
.gray2{
            background-image: url("../assets/img/q2.jpg");
}
.gray3{
            background-image: url("../assets/img/q3.jpg");
}

.gray #3{
            background-image: url("../assets/img/q3.jpg");
}

#generic{
    background-image:url("../assets/img/generic.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {
	    transform: rotateY(180deg);
	}

.flip-container, .front, .back {

}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
	position: relative;
}

	.vertical .back {
		transform: rotateX(180deg);
	}

	.vertical.flip-container:hover .back {
	    transform: rotateX(0deg);
	}

	.vertical.flip-container:hover .front {
	    transform: rotateX(180deg);
	}
/*------------------------------------------------------------------------------------------------*/
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 10px;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 346.4102px;
  background-position: center;
display: inline-block;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}