@accent-1: #00bcd4;
@accent-2: #f0f;

.twisty {
  position: relative;
  &:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: @accent-1;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
  }
  &:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: @accent-2;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
  }

  &:hover:before {
    width: 50%;
    transform: translateX(100%);
  }

  &:hover:after {
    width: 50%;
    transform: translateX(-100%);
  }
}

.lineline {
  position: relative;
}

.lineline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: @accent-2;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}

.lineline:hover:before,
.lineline:hover:after {
  transform: scaleX(1);
}

.lineline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: @accent-2;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: right;
}

.p-switcheroo {
  position: relative;
  display: block;
  height: 3em;
  text-decoration: none;
  overflow: hidden;

  & .switcheroo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    transition-delay: 0.25s;
  }

  // Things like h1 have margin by default, which messes up this effect.
  & > * {
    margin: 0;
    padding: 0;
  }
  
  &:hover .switcheroo:first-child {
    transform: translateY(-100%);
    transition-delay: 0s;
  }
  
  &:hover .switcheroo:last-child {
    transform: translateY(-100%);
    transition-delay: 0s;
  }
  
  // Background in :before slides in from left
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @accent-1;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
  }

  &:hover:before {
    transform: scaleX(1);
    transform-origin: right;
    transition-delay: 0.5s;
  }
}
