/*

General Comments, Relative to all 

*/



html,body{

    height: 100%;
    width:100%;
    
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
/*    (8/10)*/
/*    font-family: 'Dosis', sans-serif;*/
/*    (6/10)*/
/*    font-family: 'Josefin Sans', sans-serif;*/
/*    (3/10)*/
/*    font-family: 'Pacifico', cursive;*/
/*     cursive-situation / 10 (maybe title) */
/*    font-family: 'Bree Serif', serif;*/
/*     worse version of roboto*/
    
/*    font-family: 'Amatic SC', cursive;*/

/*    font-family: 'Sacramento', cursive;*/
/*     cursive-situation / 10 (maybe title) */

}

.full-screen{
    height: 100%;
    width:100%;
}


img{
/*
    
    display: block;
    margin-left: auto;
    margin-right: auto;
*/
}
.navigation{
-webkit-backface-visibility: hidden;
z-index: 5;
position: fixed;
top: 50%;
margin-top: -40px;
}


.navigation li{
height: 20px;
}
.navigation img{
    max-height: 30px;
}
.navigation a{
display: block;
width: 13px;
height: 13px;
text-indent: -9999px;
border-radius:25px;
background-color:white;
    margin-right: 16px;
}

.navigation a:hover{
border-radius:25px;
background-color:white;
}

.navigation a.active{
border-radius:25px;
background-color:#f68A33;
}

.title{
    font-size: 40px;
    color: white;
}


.hidden{
    display:none;
}


.contain-i{
    background-color:#B47EB3;
}


.contain-i div{
    padding:30px;
}


.contain-e div{
    padding:15px;
}


.education{
    color:##d8d8d8;
    font-size:24px;
    font-weight: 400;
}


.intro{
        color:##d8d8d8;
    font-size:24px;
    font-weight: 400;
}


.description span{
    color:white;
}


.subtitle{
    font-size:30px;
}


.subtitle-text{
    
}


.carousel-control.left, .carousel-control.right {
    background-image: none
}


.chevron-left{

    position:absolute;
    vertical-align: middle;
    
}

.chevron-left{
    position:absolute;
    vertical-align: middle;
    text-align: right;
}
.c{
/*
    width:80%;
    height: 80%;    
*/
        
    width:100%;
    display:inline-block;
   border:2px solid #ECF0F1;
   margin:0;
/*
    z-index: 100;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
*/
}


.carousel-item{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
a {
    text-decoration: none !important;
    color:white;
}

.contain{
    position: relative;

}
.flip{
    display: none;
}
/*


*/

.contain-e{
    background-color:#F18F01;
}


.title-intro{

    font-size: 140px;
    color: white;



}

.underline{
      text-decoration: underline;

}

/*



*/

.contain-experience{
    background-color:#FF5964;
}

.contain-experience div{
    padding:15px;
}
.showcase img{
    max-height: 50px;
}